<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p_home">

    <application
        android:name=".HomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Photography">
        <activity
            android:name=".HomeActivity"
            android:exported="true" />

        <activity
            android:name=".EditActivity"
            android:exported="false" />
    </application>

</manifest>